.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.title {
    pointer-events: none;
}

.logo {
    width: 36px !important;
    height: 36px;
}

.body {
    background-size: 100% !important;
}

body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: green none repeat scroll 0 0;
  border-color: green;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: gray none repeat scroll 0 0;
  border-color: gray;
  margin-top: 10px;
}


.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.main {
    margin-top: 70px;
}

.main-div {
  margin-left: 30px;
}

.form-check {
  padding: 10px;
}

.card-pricing.popular {
  z-index: 1;
  border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d;
}

.card-deck1 {
  margin: 0;
}

.card-pricing1 {
  border-color: green;
  max-width: 350px;
}

/*.map {
  width: 1366px;
  height: 574px;
}*/