{% load static %}
<!doctype html>

<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
	<title>SmartBivacco!</title>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
</head>

<body class="body" background="{% static 'back.jpg' %}">
	<nav class="navbar navbar-dark bg-primary fixed-top d-flex justify-content-between shadow bg-success">
		<div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand title" href=""><b>Smart Bivouac</b>
			  <img class="logo" src="{% static 'logo.png' %}"></a>
		  </div>
		{% if user.is_authenticated %}
		<label class="salutation ml-auto"><b>Hi, {{ user.get_username }}!</b></label>
		{% endif %}
		<div>
		</div>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link active" href="/bivacchi/map">Maps</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bivacchi/reservation">Manage Reservation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bivacchi/logout">Logout</a>
				</li>
				{% else %}

				{% endif %}
			</ul>
		</div>
	</nav>
	<main class="main">
		<div class="container mb-5 mt-5">
			<div class="pricing card-deck flex-column flex-md-row mb-3">
				<div class="card card-pricing text-center px-3 mb-4">
					<span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-success text-white shadow-sm">{{ bivacco.name }}</span>
					<div class="bg-transparent card-header pt-4 border-0">
					</div>
					<div class="card-body pt-0">
						<ul class="list-unstyled mb-4">
							<li>Description: <p> {{ bivacco.description }}</p>
							</li>
							<li>Temperature: <p> {{ bivacco.temp }}</p>
							</li>
							<li>Latitude <p>{{ bivacco.coordinate_x }}</p>
							</li>
							<li>Longitude <p>{{ bivacco.coordinate_y }}</p>
							</li>
							<li>Capability <p>{{ bivacco.capability }}</p>
							</li>
						</ul>
						{% if user.is_authenticated %}
						<div id="error_alerts"></div>
						<form id="reserve" name="reserve" method="POST">
							{% csrf_token %}
							<p>from</p>
							<input type="date" min="2018-11-17" id="date_start" name="date_start"><br>
							<p>to</p>
							<input type="date" min="2018-11-17" id="date_end" name="date_end"><br>
							<input type="number" name="person_count" id="person_count" min="1" max="{{ bivacco.capability }}"></input>
							<button type="submit" class="btn btn-primary"><b>reserve</b></button>
						</form>
						{% else %}

						{% endif %}
					</div>
				</div>
			</div>
			<div>
				<p>temperature {{ weather.t }}
					<a><img src="{{ weather.imageUrl }}"></img></a>
			</div>
		</div>
	</main>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>

 	<script>
	function showalert(message,alerttype) {
     $('#error_alerts').append('<div id="alertdiv" class="alert ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>');
		$(".alert").alert();
	}

	$("#reserve").submit(function(event){
		event.preventDefault();
		$(".alert").remove();
		$.ajax({
			type: "POST",
			url: "{% url 'reserve' bivacco.pk %}",
			async: true,
			data: {
				'csrfmiddlewaretoken': "{{ csrf_token }}",
				'date_start': $("#date_start").val(),
				'date_end': $("#date_end").val(),
				'person_count': $("#person_count").val(),
			},
			success: function (data) {
				if (data.available == "true")
					window.location.replace("{% url 'reservation' %}");
				else {
					showalert("Non ci sono posti disponibili nelle date selezionate", "alert-warning");
				}
			},
			error: function(data) {
				showalert("Compilare correttamente il form", "alert-danger");
			},
		})
	});
	</script>
</body>

</html>
