{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <title>SmartBivacco!</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

</head>

<body class="body" background="{% static 'back.jpg' %}">
    <nav class="navbar navbar-dark bg-primary fixed-top d-flex flex-row shadow bg-success">
        <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand title" href=""><b>Smart Bivouac</b>
              <img class="logo" src="{% static 'logo.png' %}"></a>
          </div>
        {% if user.is_authenticated %}
        <label class="salutation ml-auto"><b>Hi, {{ user.get_username }}!</b></label>
        {% endif %}
        <div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bivacchi/map">Maps</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="/bivacchi/reservation">Manage Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bivacchi/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="main">
        {% for res in reservations %}
        <div class="container mb-5 mt-5">
            <div class="pricing card-deck card-deck1 flex-column flex-md-row mb-3">
                <div class="card card-pricing card-pricing1 text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-success text-white shadow-sm">{{res.bivacco.name}}</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Start Time: <p> {{res.start_date}}</p>
                            </li>
                            <li>End Time: <p>{{res.end_date}} </p>
                            </li>
                            <li>Places Reserved: <p>{{res.person_number}}</p>
                            </li>
                            <li>Door Code: <p>{{res.code}}</p>
                            </li>
                        </ul>
                        <button type="button" onclick="opengate({{ res.bivacco.pk }})" class="btn btn-outline-secondary mb-3">Open
                            Gate</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        function opengate(pk) {
            alert("lol");
            $.ajax({
                type: "POST",
                url: "/bivacchi/opengate/" + pk + "/",
                async: true,
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                success: function () {
                    alert("lul");
                }
            });
        }
    </script>
</body>

</html>
